@{
    ViewData["Title"] = "Home Page";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
       
        <table class="table table-bordered table-custom">
            <thead>
            <tr>
     
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
            </tr>
            </thead>
            <tbody class="result"></tbody>
        </table>

        @section Scripts{
            <script type="text/javascript">
                $(document).ready(function () {
                    Load();
                });
            </script>
        }
    </div>
