@{
    ViewData["Title"] = "Home Page";
}
<div class="loader"></div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
       
        <table class="table table-bordered table-custom">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date registered</th>
                    <th>Selected Days</th>
                    <th>Additional request</th>
                </tr>
            </thead>
            <tbody class="result"></tbody>
        </table>

        @section Scripts{
            <script type="text/javascript">
                $(document).ready(function () {
                    Load();
                });
            </script>
        }
    </div>
